<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="ulFragment">
	<ul>
	    <span class="menu_else"></span>
	    <li th:classappend="${type} == 'ordered' ? 'on'"><a th:href="@{/my/ordered}">전체주문내역</a></li>
	    <!--<li><a href="#">관심상품</a></li>-->
	    <li th:classappend="${type} == 'point' ? 'on'"><a th:href="@{/my/point}">포인트내역</a></li>
	    <li th:classappend="${type} == 'coupon' ? 'on'"><a th:href="@{/my/coupon}">쿠폰</a></li>
	    <li th:classappend="${type} == 'review' ? 'on'"><a th:href="@{/my/review}">나의리뷰</a></li>
	    <li th:classappend="${type} == 'qna' ? 'on'"><a th:href="@{/my/qna}">문의하기</a></li>
	    <li th:classappend="${type} == 'info' ? 'on'"><a th:href="@{/my/info}">나의설정</a></li>
	</ul>
</th:block>
</html>