<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout}">
    <th:block layout:fragment="content">
         <section id="cs">
            <div class="notice">
                <nav>
                    <div>
                        <p>
                            홈
                            <span>></span>
                            공지사항
                        </p>
                    </div>
                </nav>
                <section class="list">
                    <aside>
                        <h2>공지사항</h2>
                        <ul>
                            <li>
                                <a th:href="@{/cs/notice/list}">전체</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/notice/list(cateType1='고객서비스')}">고객서비스</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/notice/list(cateType1='안전거래')}">안전거래</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/notice/list(cateType1='위해상품')}">위해상품</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/notice/list(cateType1='이벤트당첨')}">이벤트당첨</a>
                            </li>
                        </ul>
                    </aside>
                    <article>
                        <nav>
                            <h1 th:text="${cateType1}">전체</h1>
                            <h2 th:inline="text">공지사항 [[${cateType1}]] 내용입니다.</h2>
                        </nav>
                        <table>
                            <tbody>
                            <th:block th:each="notice:${notice}">
                                <tr>
                                    <td>
                                        <a th:href="@{/cs/notice/view(cateType1=${notice.cateType1}, no=${notice.no}, pg=${currentPage})}" th:text="${notice.title}">[안내] 해외결제 사칭 문자 주의</a>
                                    </td>
                                    <td th:text="${#strings.substring(notice.rdate, 2, 10)}">2023.02.07</td>
                                </tr>
                                </th:block>
                            </tbody>
                        </table>
                        <div class="page">
                            <th:block th:if="${groups[0]>1}">
                				<a th:href="@{cs/notice/list(pg=${groups[0]-1}, cateType1=${cateType1})}" class="prev">이전</a>
			                </th:block>
			                
			                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
			                
			                	<a th:href="@{/cs/notice/list(pg=${num}, no=${no})}" 
			                	   th:class="${num==currentPage?'num current':'num'}">[[${num}]]</a>
			                	          
			                </th:block>
			                
			                <th:block th:if="${groups[1]<lastPage}">
			                	<a th:href="@{/cs/notice/list(pg=${groups[1]+1}, cateType1=${cateType1})}" class="next">다음</a>
			                </th:block>
                        </div> 
                    </article>
                </section>
            </div>
         </section>
     </th:block>
</html>