<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<th:block layout:fragment="content">
  <section id="cs-view" class="admin">
    <nav>
      <h1>문의사항 보기</h1>
      <p>HOME > 고객센터 > <span>문의하기</span></p>
    </nav>
    <div>
      <input type="hidden" id="replyNo" name="no" th:value="${cvo.no}">
    </div>
      <table class="qna">
        <tr>
          <td>유형</td>
          <td class="type">[[${cvo.cateType1}]] - [[${cvo.cateType2}]]</td>
        </tr>

        <tr>
          <td>제목</td>
          <td class="title">[[${cvo.title}]]</td>
        </tr>

        <tr>
          <td>내용</td>
          <td>[[${cvo.content}]]</td>
        </tr>

        <tr>
          <td>답변</td>

          <th:block th:if="${cvo.reply} != null">
            <td><p style="font-size:18px">[[${cvo.reply}]]</p></td>
          </th:block>
          <th:block th:if="${cvo.reply} == null">
            <td id="rep">
              <textarea name="reply" class="reply"></textarea>
            </td>
          </th:block>

        </tr>
      </table>
      <div>
        <a href="#" class="remove">삭제</a>
        <input type="button" value="답변등록" class="qnaReplyCommit">
        <a href="#" class="qnaBtnList">목록</a>
      </div>
  </section>
</th:block>