<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/memberLayout}">
<th:block layout:fragment="content">
    <script>
        window.onload = () => {
            const agree = document.getElementById("agree");
            agree.addEventListener("click", ()=>{
                const a1 = document.querySelector("input[name=agree1]").checked
                const a2 = document.querySelector("input[name=agree2]").checked
                const a3 = document.querySelector("input[name=agree3]").checked

                if(a1 && a2 && a3){
                    location.href = '/Kmarket/register/seller';
                }else{
                    swal({
                        title: "Sorry...",
                        text: "동의 체크를 하세요!",
                        icon: "info"
                    });
                }
            })
        }
    </script>
            <div class="signup">
                <nav>
                    <h1>약관동의</h1>
                </nav>

                <section>
                    <h3>
                        <span class="essential">(필수)</span>
                        케이마켓 이용약관
                    </h3>
                    <textarea class="terms" readonly th:text="${tvo.terms}"></textarea>
                    <label>
                        <input type="checkbox" name="agree1">동의합니다.
                    </label>

                    <h3>
                        <span class="essential">(필수)</span>
                        전자금융거래약관
                    </h3>
                    <textarea class="finance" readonly th:text="${tvo.finance}"></textarea>
                    <label>
                        <input type="checkbox" name="agree2">동의합니다.
                    </label>

                    <h3>
                        <span class="essential">(필수)</span>
                        개인정보 수집동의
                    </h3>
                    <textarea class="privacy" readonly th:text="${tvo.privacy}"></textarea>
                    <label>
                        <input type="checkbox" name="agree3">동의합니다.
                    </label>
                </section>
                
                <div>
                    <input type="button" class="agree" id="agree" value="동의하기">
                </div>
            </div>
        </main>
    </th:block>
</html>
       