<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/productLayout}">
	<th:block layout:fragment="content">
			<section class="none" th:if="${size == 0}">
                <nav>
                    <h1>검색하신 '<strong style="font-weight: bold; font-size: 1em; color: blue;">[[${keyWord}]]</strong>'에 의한 검색결과가 없습니다.</h1>
                    <h2>정확한 검색어인지 확인하고 다시 검색해 보세요.</h2>
                </nav>	
			</section>
            <section class="list" th:if="${size != 0}">
                <nav>
                    <h1>검색하신 '<strong style="font-weight: bold; font-size: 1em; color: blue;">[[${keyWord}]]</strong>'에 의한 
                    <strong style="font-weight: bold; font-size: 1em; color: blue;">[[${size}]]</strong>개의 검색 결과 입니다.</h1>
                    <p></p>
                </nav>
                <ul class="sort">
                    <li>
                        <a th:href="@{/product/search (sort='sold', keyWord=${keyWord})}" th:classappend="${sort} == 'sold' ? 'on'">판매많은순</a>
                    </li>
                    <li>
                        <a th:href="@{/product/search (sort='lowPrice', keyWord=${keyWord})}" th:classappend="${sort} == 'lowPrice' ? 'on'">낮은가격순</a>
                    </li>
                    <li>
                        <a th:href="@{/product/search (sort='highPrice', keyWord=${keyWord})}" th:classappend="${sort} == 'highPrice' ? 'on'">높은가격순</a>
                    </li>
                    <li>
                        <a th:href="@{/product/search (sort='score', keyWord=${keyWord})}" th:classappend="${sort} == 'score' ? 'on'">평점높은순</a>
                    </li>
                    <li>
                        <a th:href="@{/product/search (sort='review', keyWord=${keyWord})}" th:classappend="${sort} == 'review' ? 'on'">후기많은순</a>
                    </li>
                    <li>
                        <a th:href="@{/product/search (sort='date', keyWord=${keyWord})}" th:classappend="${sort} == 'date' ? 'on'">최근등록순</a>
                    </li>
                </ul>
                <table>
                    <tr th:each="prod:${prods}">
                        <td><a href="#" class="thumb">
                            <img th:src="@{/prodImg/__${prod.prodCate1}__/__${prod.prodCate2}__/__${prod.thumb2}__}" alt="상품이미지">
                        </a></td>
                        <td>
                            <h3 class="name">[[${prod.prodName}]]</h3>
                            <a href="#" class="desc">[[${prod.descript}]]</a>
                        </td>
                        <td>
                            <ul>
                                <li><ins class="dis-price">[[${prod.sellPrice}]]</ins></li>
                                <li>
                                    <del class="org-price">[[${prod.price}]]</del>
                                    <span class="discount">10%</span>
                                </li>
                                <li><span class="free-delivery">무료배송</span></li>
                            </ul>
                        </td>
                        <td>
                            <h4 class="seller"><i class="fas fa-home" aria-hidden="true"></i> 판매자
                            </h4>
                            <h5 class="badge power">판매자등급</h5>
                            <h6 class="rating star1">상품평</h6>
                        </td>
                    </tr>
                </table>
                <div class="paging">
                    <span class="prev">
                        <a href="#">< 이전</a>
                    </span>
                    <span class="num">
                        <a href="#" class="on">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                    </span>
                    <span class="next">
                        <a href="#">다음 ></a>
                    </span>
                </div>
            </section>
	</th:block>
</html>