<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
	<header>
	    <div class="top">
	        <div>
	            <a href="">로그인</a>
	            <a href="">회원가입</a>
	            <a href="">마이페이지</a>
	            <a href="">
	                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                장바구니
	            </a>
	        </div>
	    </div>
	    <div class="logo">
	        <div>
	            <a th:href="@{/}">
	                <img th:src="@{/img/header_logo.png}" alt="헤더로고">
	            </a>
	            <form action="#">
	                <input type="text" name="search">
	                <button>
	                    <i class="fa fa-search" aria-hidden="true"></i>
	                </button>
	            </form>
	        </div>
	    </div>
	    <div class="menu">
	        <div>
	            <ul>
	                <li><a href="#">히트상품</a></li>
	                <li><a href="#">추천상품</a></li>
	                <li><a href="#">최신상품</a></li>
	                <li><a href="#">인기상품</a></li>
	                <li><a href="#">할인상품</a></li>
	            </ul>
	            <ul>
	                <li><a th:href="@{/cs/notice}">공지사항</a></li>
	                <li><a th:href="@{/cs/faq}">자주묻는질문</a></li>
	                <li><a th:href="@{/cs/qna}">문의하기</a></li>
	                <li><a th:href="@{/cs/}">고객센터</a></li>
	            </ul>
	        </div>
	    </div>
	</header>
</th:block>
</html>