<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<th:block layout:fragment="content">
    <section id="cs-list" class="admin">
        <nav>
            <h1>자주묻는 질문 목록</h1>
            <p>HOME > 고객센터 > <span>자주묻는 질문</span></p>
        </nav>
        <form name="search-form">
            <select name="cateType1" class="cateType1" onchange="faqOption()">
                <option value="none" disabled selected>1차 선택</option>
                <option>회원</option>
                <option>쿠폰/혜택/이벤트</option>
                <option>주문/결제</option>
                <option>배송</option>
                <option>취소/반품/교환</option>
                <option>여행/숙박/항공</option>
                <option>안전거래</option>
            </select>
            <select name="cateType2" class="cateType2">
                <option value="0" disabled selected>2차 선택</option>
            </select>
            <input type="submit" value="검색">
        </form>

        <table class="FAQth">
            <tr>
                <th><input type="checkbox" name="allCheck" onclick="selectAll(this)"></th>
                <th>번호</th>
                <th>1차유형</th>
                <th>2차유형</th>
                <th>제목</th>
                <th>조회</th>
                <th>날짜</th>
                <th>관리</th>
            </tr>

            <tbody id=article>
            <th:block th:each="article : ${articles}">
                <tr>
                    <td><input type="checkbox" name='check' th:value="${article.no}"></td>
                    <td>[[${article.no}]]</td>
                    <td width="100px">[[${article.cateType1}]]</td>
                    <td>[[${article.cateType2}]]</td>
                    <td style="text-align: left;"><a th:href="|@{/}admin/cs/view/faq/${article.no}|">[[${article.title}]]</a></td>
                    <td>[[${article.hit}]]</td>
                    <td>[[${article.rdate}]]</td>
                    <td>
                        <a href="#" class="CSremove2" th:data-no="${article.no}">[삭제]</a>
                        <a th:href="|@{/}admin/cs/modify/faq/${article.no}|" class="CSmodify">[수정]</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <input type="button" name=del value="선택삭제" onclick="csDelete2()">

        <div class="paging" th:if="${#strings.isEmpty(cateType2)}">
            <span th:if="${groups[0]>1}" class="prev">
                <a th:href="@{/admin/cs/list/faq(pg=${groups[0]-1})}"><&nbsp;이전</a>
            </span>

                <span class="num">
                <th:block th:each="i : ${#numbers.sequence(groups[0],groups[1])}">
                    <a th:href="@{/admin/cs/list/faq(pg=${i})}"
                       th:classappend="${i==currentPage ? 'on': ''}"
                    >[[${i}]]</a>
                </th:block>
            </span>

                <span th:if="${groups[1]<lastPage}" class="next">
                <a th:href="@{/admin/cs/list/faq(pg=${groups[1]+1})}">다음&nbsp;></a>
            </span>
        </div>

        <div class="paging" th:if="${not #strings.isEmpty(cateType2)}">
            <span th:if="${groups[0]>1}" class="prev">
                <a th:href="@{/admin/cs/list/faq(pg=${groups[0]-1},cateType1=${cateType1},cateType2=${cateType2})}"><&nbsp;이전</a>
            </span>

            <span class="num">
                <th:block th:each="i : ${#numbers.sequence(groups[0],groups[1])}">
                    <a th:href="@{/admin/cs/list/faq(pg=${i}, cateType1=${cateType1}, cateType2=${cateType2})}"
                       th:classappend="${i==currentPage ? 'on': ''}"
                    >[[${i}]]</a>
                </th:block>
            </span>

            <span th:if="${groups[1]<lastPage}" class="next">
                <a th:href="@{/admin/cs/list/faq(pg=${groups[1]+1},cateType1=${cateType1},cateType2=${cateType2})}">다음&nbsp;></a>
            </span>
        </div>

        <a th:href="@{/admin/cs/faqWrite}" class="btnWrite">작성하기</a>
    </section>
</th:block>