<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout}">
    <th:block layout:fragment="content">
            <section id="cs">
                <div class="faq">
                    <nav>
                        <div>
                            <p>
                                홈
                                <span>></span>
                                자주묻는 질문
                            </p>
                        </div>
                    </nav>
                    <section class="list">
                        <aside>
                            <h2>자주묻는 질문</h2>
                            <ul>
                                <li class="on">
                                    <a th:href="@{/cs/faq/list(cateType1='회원')}">회원</a>
                                </li>
                                <li>
                                    <a th:href="@{/cs/faq/list(cateType1='쿠폰/이벤트')}">쿠폰/이벤트</a>
                                </li>
                                <li>
                                    <a th:href="@{/cs/faq/list(cateType1='주문/결제')}">주문/결제</a>
                                </li>
                                <li>
                                    <a th:href="@{/cs/faq/list(cateType1='배송')}">배송</a>
                                </li>
                                <li>
                                    <a th:href="@{/cs/faq/list(cateType1='취소/반품/교환')}">취소/반품/교환</a>
                                </li>
                                <li>
                                    <a th:href="@{/cs/faq/list(cateType1='여행/숙박/항공')}">여행/숙박/항공</a>
                                </li>
                                <li>
                                    <a th:href="@{/cs/faq/list(cateType1='안전거래')}">안전거래</a>
                                </li>
                            </ul>
                        </aside>
                        <article>
                            <nav>
                                <h1 th:text="${cateType1}">회원</h1>
                                <h2>가장 자주 묻는 질문입니다.</h2>
                            </nav>
                            <th:block th:each="faq:${faq}">
                            <div>
                                <h3>[[${faq.cateType2}]]</h3>
                                <ul>
                                	<th:block th:each="vo,i:${vo}" th:if="${#strings.equals(faq.cateType2, vo.cateType2)}">
	                                    <li>
	                                        <a th:href="@{/cs/faq/view(cateType1='회원', no=${faq.no})}" 
	                                        	class="title" th:data-no="${vo.no}">
	                                            <span>Q.</span>
	                                            [[${vo.title}]]
	                                        </a>
	                                    </li>
                                    </th:block>
                                    <li class="more">
                                        <a href="#">더보기</a>
                                    </li>
                                </ul>
                            </div>
                            </th:block>
                        </article>
                    </section>
                </div>
            </section>
    </div>
</th:block>
<th:block layout:fragment="script">	
	<script>
	$(function(){
		   
	       $('.more').click(function(e){
	           e.preventDefault();
	           
	           let item = $(this).parent().find('> li:nth-child(n+4)');
	           let isVisible = item.is(':visible');
	           
	           console.log('isVisible : ' + isVisible);
	           
	           if(isVisible && item.css('display') == 'none'){
	        	   item.slideDown(300);
	        	   $(this).find('> a').text('간단히보기');
	           }else if(isVisible && item.css('display') == 'list-item'){
	        	   item.slideUp(300);
	        	   $(this).find('> a').text('더보기');
	   			}
	           
	       });
	   });
	</script>
</th:block>
</html>