<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout}">
    <th:block layout:fragment="content">
        <section id="cs">
            <div class="qna">
                <nav>
                    <div>
                        <p>
                            홈
                            <span>></span>
                            문의하기
                        </p>
                    </div>
                </nav>
                <section class="list">
                    <aside>
                        <h2>문의하기</h2>
                        <ul>
                            <li class="on">
                                <a th:href="@{/cs/qna/list(cateType1='회원')}">회원</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/qna/list(cateType1='쿠폰/이벤트')}">쿠폰/이벤트</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/qna/list(cateType1='주문/결제')}">주문/결제</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/qna/list(cateType1='배송')}">배송</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/qna/list(cateType1='취소/반품/교환')}">취소/반품/교환</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/qna/list(cateType1='여행/숙박/항공')}">여행/숙박/항공</a>
                            </li>
                            <li>
                                <a th:href="@{/cs/qna/list(cateType1='안전거래')}">안전거래</a>
                            </li>
                        </ul>
                    </aside>
                    <article>
                        <nav>
                            <h1 th:text="${cateType1}">회원</h1>
                            <h2>관련 문의 내용입니다.</h2>
                        </nav>
                        <table>
                            <tbody>
                            <th:block th:each="qna:${qna}">
                                <tr>
                                    <td>
                                        <a th:href="@{/cs/qna/view(no=${qna.no},cateType1=${qna.cateType1}, pg=${currentPage})}" th:text="${qna.title}">[가입] 가입 문의내용</a>
                                    </td>
                                    <td>[[|${#strings.substring(qna.uid,0,3)}**|]]</td>
                                    <td th:text="${#strings.substring(qna.rdate, 2, 10)}">2023.02.07</td>
                                </tr>
                              </th:block>
                              </tbody>
                        </table>
                        <div class="page">
                            <th:block th:if="${groups[0]>1}">
                				<a th:href="@{cs/qna/list(pg=${groups[0]-1}, cateType1=${cateType1})}" class="prev">이전</a>
			                </th:block>
			                
			                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
			                
			                	<a th:href="@{/cs/qna/list(pg=${num}, cateType1=${cateType1}, cate='qna')}" 
			                	   th:class="${num==currentPage?'num current':'num'}">[[${num}]]</a>
			                	          
			                </th:block>
			                
			                <th:block th:if="${groups[1]<lastPage}">
			                	<a th:href="@{/cs/qna/list(pg=${groups[1]+1}, cateType1=${cateType1})}" class="next">다음</a>
			                </th:block>
                        </div>
                        <a th:href="@{/cs/qna/write(cateType1='회원')}" class="btnWrite">문의하기</a>
                    </article>
                </section>
            </div>
        </section>
      </th:block>
</html>